**/__pycache__/*
__pycache__/pirelaycontrol.cpython-37.pyc


#Added by cargo
#
#already existing elements are commented out

**/*.rs.bk
env/
node_modules/
package.json
rust/target/*


adafruit-circuitpython-bundle-5.x-mpy-20200117.zip
adafruit-circuitpython-bundle-5.x-mpy-20200117/*
